<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle  %> </title>
</head>
</body>
<h1> See all the Pokemon </h1>

<ul>
    <% pokemon.map((pokemon, index)=>{ %>
<li>
    <%= pokemon.name %> 
    <img src =  <%=` ${pokemon.img}.jpg` %>  width ="400" height="300" >
</li>
   <% }) %> 
</ul>
</ul>
<body>
</html>